@charset "utf-8";

body {
  background-image: url( "../img/AV-BG-HP-Entwurf-7-angepasst-2.jpg");
}

@media (min-width: 500px) {
  body {
    background-image: url( "../img/AV-BG-HP-Entwurf-7-angepasst-2.jpg");
  }
}

@media (min-width: 1000px) {
  body {
    background-image: url( "../img/AV-BG-HP-Entwurf-7-angepasst-2.jpg");
  }
}

@media (min-width: 1500px) {
  body {
    background-image: url( "../img/AV-BG-HP-Entwurf-7-angepasst-2.jpg");
  }
}

@media (min-width: 2000px) {
  body {
    background-image: url( "../img/AV-BG-HP-Entwurf-7-angepasst-2.jpg");
  }
}


body { 
  font-size: 12px;
  font-family:  'Oswald', sans-serif;
  background-size: cover;
  background-position: center;
  width: 100%;
	

  }

p {
  text-align: justify;
  color: rgba(255,255,255,1.00);
  background-color: rgba(0,0,0,0.38);
  font-weight: lighter;
  font-size: 120%;
  text-shadow: 0px 0px 1px rgba(0,0,0,1.00);  
  letter-spacing:0.1rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  }

p.impressum {
  text-align: center;
}
hr {
	border-bottom:3px solid rgba(203,255,191,0.34) ;
	
}  

h2 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(0,0,0,1.00);

  }
  
h3 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(0,0,0,1.00);
  font-size:150%;
  letter-spacing:0.1rem;
  }

h4 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 1px rgba(0,0,0,1.00);
  font-size:120%;
  letter-spacing:0.2rem;
  }

      
.start {
  width:100%;
    height:100%;
    background-color: rgba(6,3,3,0.72);
  margin-bottom:30px;

  }




.start1 {
  width:100%;
  height:100%;
  background-color: rgba(6,3,3,0.72);
  margin-top:30px;
  margin-bottom:30px;
  padding-top:15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color:rgba(0,0,0,1.00);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgba(0,0,0,1.00);
  }
  
.start2 {
  width:100%;
    height:100%;
    background-color: rgba(6,3,3,0.72);
  margin-top:30px;
  margin-bottom:30px;
  padding-top:15px;
  padding-left:10px;
  padding-bottom:1px;
  border-radius: 5px;
  text-align:left;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color:rgba(55,0,79,1.00);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgba(82,33,87,1.00);
  }
  
.start2 h2 {
  text-align: left;
  }

  
  



/* ANIMATION BACKGROUND PICTURE*/

/**.picture {

    color: rgba(176,238,255,0.20);

    -webkit-animation: bgColor 60s ease-in-out infinite;

    /* Chrome, Safari */

    -moz-animation: bgColor 60s ease-in-out infinite;

    /* Firefox */

    -o-animation: bgColor 60s ease-in-out infinite;

    /* Opera */

    animation: bgColor 60s ease-in-out infinite;

    min-height: 100vh;
} **/

@-webkit-keyframes bgColor {
    0% {
        background:rgba(172,118,255,0.17);
    }
    50% {
        background:rgba(65,32,80,0.19);
    }
    100% {
        background:rgba(172,118,255,0.17);
    }
}

/* Firefox */

@-moz-keyframes bgColor {
    0% {
        background:rgba(172,118,255,0.17);
    }
    50% {
        background:rgba(65,32,80,0.19);
    }
    100% {
        background:rgba(172,118,255,0.17);
    }
}

/* Opera */

@-o-keyframes bgColor {
    0% {
        background:rgba(172,118,255,0.17);
    }
    50% {
        background:rgba(222,150,255,0.19);
    }
    100% {
        background:rgba(172,118,255,0.17);
    }
}

/* Standard syntax */

@keyframes bgColor {
    0% {
        background:rgba(255,192,148,0.26);
    }
    50% {
        background:rgba(65,32,80,0.19);
    }
    100% {
        background:rgba(255,192,148,0.26);
    }
}




/**
Header Bereich
*/


.header-navbar { 
  position: right;
  text-align: right;
  margin-top:50px;
  margin-bottom:30px;
  margin-right: 20%;
  color: rgba(158,0,0,1.00);
  text-shadow: 0px 0px 1px rgba(158,0,0,1.00);
  text-shadow: 0px 0px 2px rgba(158,0,0,1.00);
  }
  
.header-navbar-links li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin-left: 40px;
  font-size:150%; 
  margin-bottom:-10%;
  }
  
.Titel {
  padding-top: 50px;
  text-align: left;
  }
  
.Titel h1 {
  color:rgba(255,255,255,1.00);
  font-size: 500%;
  text-shadow: 0px 0px 5px rgba(0,0,0,1.00);
  text-shadow: 0px 0px 5px rgba(0,0,0,1.00);
  }
  
.header {
  margin-bottom: 50px;
  }
  
.subtitel {
  text-align: right;
  font-size: 150%;
  margin-top: -3%;
  text-shadow: 0px 0px 1px rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(255,237,174,1.00);
  color: rgba(255,243,199,1.00);   
}

.subtitel h5 {
  letter-spacing: 0.5rem;
    word-spacing: 0.0rem;
  }
  

/**About*/
.about {
  margin-top: -90px;
  margin-bottom: 50px;
  }
.Annika {
  width: 450px;
  height: auto;
  }
    
  
  /*GALERIE */

.sliderElements,
.sliderElements figure,
.sliderControls {
    margin: 0;
}
 
.sliderElements:after {
    content: ".";
    display: block;
    height: .1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
}
 
.cssSlider {
    overflow-x: hidden;
}
 
.sliderElements {
    list-style: none;
    position: relative;
    left: 0;
    width: 800%;
    margin-bottom: .8em;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;

}
 
.sliderElements > li {
    float: left;
    width: 12.5%;
    position: relative;
}
 
#slide02:checked ~ .sliderElements {
    left: -100%;
}
 
#slide03:checked ~ .sliderElements {
    left: -200%;
}
 
#slide04:checked ~ .sliderElements {
    left: -300%;
}
 
#slide05:checked ~ .sliderElements {
    left: -400%;
}

#slide06:checked ~ .sliderElements {
    left: -500%;
}

#slide07:checked ~ .sliderElements {
    left: -600%;
}

#slide08:checked ~ .sliderElements {
    left: -700%;
}

/* Bildunterschrift auf dem Bild positionieren */
.sliderElements figcaption {
    display: block;
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 1em;
    padding: .4em;
    background: rgba(0,0,0,0.00);
  border-radius:2px;
}
 
/* Bilder responsive */
.sliderElements img {
    width: 100%;
    height: auto;
  opacity:0.98;
  border-radius:10px;
}
 
 
/* inputs aus dem Blickfeld schieben */
.cssSlider input {
    position: absolute;
    left: -99999px;
}
 
/* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
.sliderControls {
    text-align: center;
}
 
/* Controls nebeneinander bringen */
.sliderControls li {
    display: inline-block;
}
 
/* Controls auf einheitliche Maße bringen und die Ecken abrunden */
.sliderControls label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background: rgba(158,0,0,1.00);
    color: rgba(158,0,0,1.00);
  
}
 
/* Attributselektor und indirekter Nachfahrkombinator zum ansteuern der labels */
.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"],
#slide05:checked ~ .sliderControls label[for="slide05"],
#slide06:checked ~ .sliderControls label[for="slide06"],
#slide07:checked ~ .sliderControls label[for="slide07"]
#slide08:checked ~ .sliderControls label[for="slide08"]
 {
    background:rgba(255,197,8,1.00);
    color:rgba(216,53,0,1.00);
}





/** Veranstaltungsbereich */

.videos {
  text-align:right;
  }

iframe {
  border-radius:10px;
  }
.video3 {
  }

.video4 {
  float:right;
  }
  
img { 
  width: auto; 
  height: 606px;
  border-radius:10px;
  }

  
.concerts h2 {
  color:rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(54,0,33,1.00);
  font-size:400%;
  }
  

/* Konfiguriert, wie schnell die toggles auf und zu klappen */
.toggle .content {
 transition: 0.4s height ease-in-out;
}

.toggle input {
  display: none;
}
 
/* Gestaltung der toggle Schaltflächen */
.toggle label {
  display: block;
  background: rgba(6,3,3,0.72);
  color: #fff;
  padding-top: 13px;
  padding-bottom: 1px;
  padding-left:10px;
	margin-top:30px;
  text-align: left;
  cursor: pointer;
  border-radius:5px;
  transition: 2s;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,1.00);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,1.00);
}

.toggle input:not(:checked) ~ div {
    opacity: 1;
    padding: .9em;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition:
      opacity 2s ease-in-out,
      padding 2s ease-in-out,
      height 0.4s ease-in-out;
}

.toggle label:hover {
    background:rgba(34,79,0,0.13);
}

.toggle h3 {
  color: rgba(255,255,255,1.00);
  text-shadow: 0px 0px 3px rgba(0,0,0,1.00);
  font-size: 150%;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;  
}


.youtube-player {
  position: relative;
  /* we use different styles here */
  /*padding-bottom: 56.23%;*/
  /* Use 75% for 4:3 videos */
  /*height: 0;*/
  overflow: hidden;
  max-width: 100%;
  background: #000;
  border-radius: 10px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}



/* grid and placement */
.dual-grid {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.dual-grid > .left {
  grid-column: 1 / 2;
}

.dual-grid > .right {
  grid-column: 2 / 3;
}

.dual-grid > .full {
  grid-column: 1 / 3;
}

.dual-grid .tall {
  grid-row: span 2;
}

.dual-grid .youtube-player {
  position: relative;
  width: 100%;
  height: 100%;
}
.dual-grid .video > .youtube-player {
  height: 100%;
  width: 100%;
  min-height: 250px;
}

.dual-grid img {
  width: 100%;
  height: auto;
}

@media (max-width: 850px) {
  .dual-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .dual-grid > .left {
    grid-column: 1 / 2;
  }

  .dual-grid > .right {
    grid-column: 1 / 2;
  }

  .dual-grid > .full {
    grid-column: 1 / 2;
  }

  .dual-grid .tall {
    grid-row: span 2;
  }

  .dual-grid .video > .youtube-player {
    padding-bottom: 56.23%;
    height: 0;
    min-height: 0;
  }  
}

.lightbox {
  cursor: pointer;
}

.lightbox-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s opacity;
  opacity: 0;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  border: 1px solid  rgba(255,255,255,1.00);
}

body.noscroll {
  overflow: hidden;
  max-height: 100%;
}

/**
LINKS & KONTAKT
*/
i {
    color: white;
    font-size: 180%;
	padding-right: 10px;
  }
  
i:link {
  color:rgba(255,255,255,1.00);
    transition: 2s;
  }
  
i:visited {
  color:rgba(255,255,255,1.00);
    transition: 2s;
  }
  
i:active {
  color:rgba(255,255,255,1.00);
    transition: 2s;
  }
  
i:hover {
    color: rgba(0,0,0,1.00);
    font-size: 180%;
    transition: 2s;
  }
  
a.extern { 
  text-decoration: none;
  text-underline: none;
  background-color:rgba(0,0,0,0.60);
    border-radius:10px;
  padding-left:20px;
  padding-right:20px;
  
  }
a.extern:link {
  color:rgba(255,255,255,1.00);
    transition: 2s;
  }
  
a.extern:visited {
  color:rgba(255,255,255,1.00);
    transition: 2s;
  }
  
a.extern:active {
  color:rgba(255,255,255,1.00);
    transition: 2s;
  }
  
a.extern:hover {
  color: rgba(255,255,255,0.54);
  font-size: 101.5%;
    transition: 2s;
  }

  
.bands  {
  font-size: 3.0rem
  }
  
.bands1  {
  font-size: 1.5rem;
  }
  
.partner {
  text-align:center;
  font-size: 3.0rem
  }

.partner1 {
  text-align:center;
  font-size: 1.5rem
  }
.contact {
  text-align:right;
  font-size:1.2rem;
  }

.contact1 {
  text-align:right;
  font-size: 1.5rem;
  }


.imprint {
  padding: 50px 0;
}

.shop {
	 font-size: 5.5rem;
	text-align: center;
	letter-spacing: 1.8rem;
}

.social {
	float:right;
}

.bandlinks {
	text-align:right;
	font-size:1.5rem;
	letter-spacing: 0.2rem;
}

.concerts {
	text-align:left;		
}
.concertsabstand{
	margin-bottom:5px;
	
}
/* CSS Document */
